### Installing mysql-connector-python package

In [1]:
# !pip install mysql-connector-python

### Importing Packages

In [2]:
from sqlalchemy import create_engine
import mysql.connector

### MySQL Server Credentials

In [3]:
mysql_host = '192.168.2.17'
mysql_port = 3307
mysql_db = 'varun'
mysql_user = 'root'
mysql_pass = 'Aline-12#'

### Creating Connection String from Input

In [4]:
db_connection_str = 'mysql+mysqlconnector://' + mysql_user + ':' + mysql_pass + '@' + mysql_host + ':' + str(mysql_port) + '/' + mysql_db

In [5]:
db_connection_str

'mysql+mysqlconnector://root:Aline-12#@192.168.2.17:3307/varun'

### Creating Connection Engine from Input Parameters

In [6]:
db_connection = create_engine(db_connection_str)

### Importing Pandas Dataframe

In [7]:
import pandas as pd

### Reading From Table

In [8]:
try:
    df = pd.read_sql('SELECT * FROM SLI_ATTRIBUTES', con=db_connection)
except Exception as e:
    print(e)

### Checking Table Schema

In [9]:
df.columns

Index(['AVERAGE_STANDARD_PRODUCTION_COST', 'GIC', 'SALES_ITEM_ID',
       'PURCHASING_GROUP', 'SALES_ITEM_DESCRIPTION',
       'PRODUCT_LIFECYCLE_STATE'],
      dtype='object')

### Reading from CSV File

In [10]:
file_df = pd.read_csv('..\\Resources\\SI_attr.tab', delimiter='\t', encoding='UTF-8')

### Displaying Top 5 Rows

In [11]:
file_df.head()

,Sales_Item_Id,Sales_Item_Description,GIC,Product_Lifecycle_State,Purchasing_Group,Average Standard Production Cost
0,IE2:15HP-RFU-7,7GHZ HP ODU,07599,OBSOLETE,NaN,0.0
1,IE2:15HP-RFU-8,"1500HP RF UNIT, FGHZ (8GHZ)",07599,OBSOLETE,NaN,0.0
2,IE2:15HP-SHORT-112,"1500HP SHORT, FGHZ",07599,OBSOLETE,NaN,0.0
3,IE2:15HP-SHORT-137,"1500P SHORT, FGHZ",07599,OBSOLETE,NaN,0.0
4,IE2:15HP-TERM-112,"1500HP 50 OHM TERMINATION, FGHZ",09208,OBSOLETE,NaN,0.0

### Count

In [12]:
len(file_df)

361560

### Renaming the last column and saving back to dataframe

In [13]:
file_df.rename(columns={'Average Standard Production Cost': 'Average_Standard_Production_Cost'}, inplace=True)

### Checking Column Names

In [14]:
file_df.columns

Index(['Sales_Item_Id', 'Sales_Item_Description', 'GIC',
       'Product_Lifecycle_State', 'Purchasing_Group',
       'Average_Standard_Production_Cost'],
      dtype='object')

### Converting all headers to Upper Case

In [15]:
file_df.columns = file_df.columns.str.upper()

### Verifying Column Names

In [16]:
file_df.columns

Index(['SALES_ITEM_ID', 'SALES_ITEM_DESCRIPTION', 'GIC',
       'PRODUCT_LIFECYCLE_STATE', 'PURCHASING_GROUP',
       'AVERAGE_STANDARD_PRODUCTION_COST'],
      dtype='object')

### Checking Non-Null Length of Primary Key Column

In [17]:
len(pd.notnull(file_df["SALES_ITEM_ID"]))

361560

### Dropping Null Values from Primary Key

In [18]:
file_df.dropna(subset=['SALES_ITEM_ID'], inplace=True)

### Dropping Null Values from Primary Key

In [19]:
file_df.dropna(subset=['SALES_ITEM_ID'], inplace=True)

### Checking length of dataframe after dropping null values

In [20]:
len(file_df)

361559

### Checking any Duplicate Records for Primary Key

In [21]:
file_df['SALES_ITEM_ID'].duplicated().any()

False

Or

In [22]:
file_df.duplicated(subset=['SALES_ITEM_ID']).any()

False

### Dropping Duplicate Records from Primary Key

In [23]:
file_df.drop_duplicates(subset=['SALES_ITEM_ID'], inplace=True)

In [24]:
len(file_df)

361559

### Checking Shape of the Dataframe

In [25]:
file_df.shape

(361559, 6)

### Limiting to 300000 records

In [26]:
file_df = file_df[:300000]

In [27]:
len(file_df)

300000

### Writing to Mysql

In [28]:
try:
    file_df.to_sql(name='SLI_ATTRIBUTES', con=db_connection, if_exists='append', index=False)
    print("Data Saved Successfully")
except Exception as e:
    print(e)
    print("Data saving failed")

Data Saved Successfully

### Disposing Engine

In [29]:
db_connection.dispose()